.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store
*.zip
###test build
/test/e2e/bin
/test/e2e/obj
/test/e2e/screenshots/
/test/e2e/LivingDoc.html
/test/e2e/auth.json
/test/e2e/node_modules
/test/e2e/SpecFlow/userid
test/e2e/.yarn/
test/Pa11y/node_modules/
test/Pa11y/pa11y-ci-results.json
test/Pa11y/Screenshots/
test/Pa11y/pa11y-ci-report/
auth.json
*.cs
test/e2e/features/*.cs
test/e2e/pre.csproj
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
node_modules
